{% extends "layout.html" %}

{% block content %}
<div style="width: 90%;margin-left: 20px;">
  <p>
    admin write
  </p>
  <form method="post" id="writeform" class="row g-3">
    <input type="hidden" name="a" value="i">

    {{ include('mng/bbs_cnf/form.html') }}

    <div class="col-auto">
      <button type="submit" class="btn btn-primary">저장</button>
      <button type="button" id="btnCancel" class="btn btn-secondary">취소</button>
    </div>

  </form>
</div>
{% endblock %}
{% block after_script %}
  {{ parent() }}
  <script>
    window.onload = () => {
      const f = document.getElementById("writeform");
      const cbs = f.querySelectorAll('input[name="ctgr"]');

      cbs.forEach(cb => {
        cb.addEventListener('change', () => {
          console.log('change');
          if (cb.checked) {
            cbs.forEach(ocb => {
              if (ocb !== cb) {
                ocb.checked = false;
              }
            });
          }
        });
      });

      f.addEventListener('submit', function(event) {
        event.preventDefault();

        const fData = new FormData(f);
        const params = new URLSearchParams(fData);

        fetch("./proc.php", {
          method: "POST",
          body: params
        })
        .then(response => {
          if (!response.ok) {
            throw new Error("네트워크 응답이 정상이 아닙니다.");
          }
          return response.json();
        })
        .then(result => {
          if (result.code == 'success') {
            window.alert(result.msg);
            document.location.href = "./index.php" + window.location.search.replace(/g=w/g, "g=l");
          }
          else if (result.code == 'double') {
            window.alert(result.msg);
            f.id.select();
          }
          else {
            window.alert(result.msg);
          }
        })
        .catch(error => {
          console.log('failure: ', error);
        });
      });

      const cancelButton = document.querySelector("#btnCancel");
      cancelButton.addEventListener("click", () => {
        history.back();
      });
    }
  </script>
{% endblock %}