{% extends "layout.html" %} 

{% block head %} {{ parent() }}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/css/datepicker-bs5.min.css"
/>
<script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/js/datepicker-full.min.js" defer></script>
<script src="/rsc/js/datepicker.js" defer></script>
{% endblock %} 

{% block content %}
<div class="my-box m-3 p-3">
  <form class="">
    <div class="row mb-2">
      <div class="col-md-1">
        <label for="input1" class="form-label">기간</label>
      </div>
      <div class="col-md-5 d-inline-flex" id="input1">
        <select
          name="searchDateType"
          id="inputState"
          class="form-select form-select-sm"
        >
          <option value="dtReg"{% if _get.searchDateType == 'dtReg' %} selected{% endif %}>등록일</option>
          <option value="dtMdf"{% if _get.searchDateType == 'dtMdf' %} selected{% endif %}>수정일</option>
        </select>
        <div class="input-group mx-3">
          <input
            type="text"
            class="form-control form-control-sm"
            name="startDate"
            value="{{ _get.startDate }}"
            id="startDate"
            autocomplete="off"
          />
          <span id="startDateBtn" class="input-group-text"><i class="bi bi-calendar2-date"></i></span>
        </div>
        <span> ~ </span>
        <div class="input-group ms-3">
          <input
            type="text"
            class="form-control form-control-sm"
            name="endDate"
            value="{{ _get.endDate }}"
            id="endDate"
            autocomplete="off"
          />
          <span id="endDateBtn" class="input-group-text"><i class="bi bi-calendar2-date"></i></span>
        </div>
      </div>
      <div class="col-md-1">
        <label for="input2" class="form-label">작성자</label>
      </div>
      <div class="col-md-5">
        <input
          type="text"
          class="form-control form-control-sm"
          name="writer"
          value="{% if _get.writer|length > 0 %}{{_get.writer}}{% endif %}"
          id="input2"
        />
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-1">
        <label for="input3" class="form-label">검색어</label>
      </div>
      <div class="col-md-5 d-inline-flex" id="input3">
        <select
          name="searchType"
          id="searchType"
          class="form-select form-select-sm"
        >
          <option value="title"{% if _get.searchType == 'title' %} selected{% endif %}>제목</option>
          <option value="content"{% if _get.searchType == 'content' %} selected{% endif %}>본문</option>
        </select>
        <input
          type="text"
          class="form-control form-control-sm ms-3"
          name="searchKeyword"
          value="{% if _get.searchKeyword|length > 0 %}{{_get.searchKeyword}}{% endif %}"
          id="searchKeyword"
          autocomplete="off"
        />
      </div>
      <div class="col-md-1">
        <label for="input4" class="form-label">구분</label>
      </div>
      <div class="col-md-5" id="input4">
        <input
          class="form-check-input"
          type="checkbox"
          name="dvgn[]"
          id="dvgn1"
        />
        <label class="form-check-label" for="dvgn1">1등급</label>
        <input
          class="form-check-input"
          type="checkbox"
          name="dvgn[]"
          id="dvgn2"
        />
        <label class="form-check-label" for="dvgn2">2등급</label>
        <span class="form-text">(작성자 등급을 선택하세요.)</span>
      </div>
    </div>

    <div class="d-flex justify-content-center mt-4">
      <button type="submit" class="btn btn-primary">검색</button>
    </div>
  </form>
</div>

<div>total: {% if totalCnt is defined %}{{ totalCnt }}{% endif %}</div>

<table class="table table-hover table-sm">
  <colgroup>
    <col width="5%" />
    <col />
    <col width="7%" />
    <col width="15%" />
  </colgroup>
  <thead class="table-success">
    <tr>
      <th scope="col">#</th>
      <th scope="col">제목</th>
      <th scope="col">작성자</th>
      <th scope="col">등록일시</th>
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
      <th scope="row">{{ loop.index }}</th>
      <td>
        <a href="./index.php" title="{{ row.ipost_seq }}" class="a-to-view"
          >{{ row.ctitle }}</a
        >
      </td>
      <td>{{ row.writerName }}</td>
      <td>{{ row.dcreate_date }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div
  class="btn-toolbar justify-content-evenly"
  role="toolbar"
  aria-label="Toolbar with button groups"
>
  {{ include('inc/paging.html') }}
  <!--   <div class="input-group">
    <div class="input-group-text" id="btnGroupAddon2">바로가기</div>
    <input type="text" class="form-control" placeholder="Input group example" aria-label="Input group example" aria-describedby="btnGroupAddon2">
  </div> -->

  <div>
    <button type="button" id="btnWrite" class="btn btn-sm btn-success">
      작성
    </button>
  </div>
</div>

{% endblock %} 

{% block after_script %} {{ parent() }}

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const queryString = window.location.search;
    // console.log(queryString);
    const urlParams = new URLSearchParams(queryString);

    console.log(urlParams.toString());

    const aLinks = document.querySelectorAll(".a-to-view");
    for (const aLink of aLinks) {
      aLink.addEventListener("click", (event) => {
        event.preventDefault();
        if (urlParams.has("ipost_seq")) {
          urlParams.set("ipost_seq", aLink.title);
        } else {
          urlParams.append("ipost_seq", aLink.title);
        }
        urlParams.set("g", "v");
        const newQueryString = urlParams.toString();
        window.location.href = "./index.php?" + newQueryString;
      });
    }

    const pageButtons = document.querySelectorAll(".page-link");
    if (pageButtons !== null && pageButtons !== undefined) {
      for (const pageButton of pageButtons) {
        pageButton.addEventListener("click", (event) => {
          event.preventDefault();
          const newPageNum = pageButton.title;
          // console.log(urlParams);
          if (newPageNum > 0) {
            urlParams.set("currentPage", newPageNum);
            const newQueryString = urlParams.toString();
            window.location.href = "./index.php?" + newQueryString;
          }
        });
      }
    }

    const writeButton = document.querySelector("#btnWrite");
    writeButton.addEventListener("click", () => {
      urlParams.set("g", "w");
      const newQueryString = urlParams.toString();
      window.location.href = "./index.php?" + newQueryString;
    });

    // Datepicker 설정
    setDatepicker();
  });
</script>

{% endblock %}
