{% extends "layout.html" %} {% block title %}관리자::로그인{% endblock %} {%
block nav %}{% endblock %} {% block content %}
<div class="border rounded p-0 mx-auto my-5 w-50">
  <!-- <img class="mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
  <div class="border-bottom rounded-top mb-3 bg-body-secondary">
    <h3 class="px-5 py-3">Please sign in</h3>
  </div>

  <p id="errmsg" style="color: red"></p>

  <form id="loginform" class="p-5">
    <input type="hidden" name="a" value="i" />

    <div class="alert-container" id="messageArea"></div>

    <div class="row mb-3">
      <label for="userid" class="col-sm-3 col-form-label">아이디</label>
      <div class="col-sm-9">
        <input
          type="text"
          class="form-control"
          name="id"
          value="{{ cookie }}"
          id="userid"
          required
          autocomplete="off"
        />
      </div>
    </div>

    <div class="row mb-3">
      <label for="userpw" class="col-sm-3 col-form-label">패스워드</label>
      <div class="col-sm-9">
        <input
          type="password"
          class="form-control"
          name="pw"
          id="userpw"
          required
        />
      </div>
    </div>

    <div class="form-check text-start my-3">
      <input
        class="form-check-input"
        type="checkbox"
        name="savedId"
        value="ok"
        id="savedId"
        {%
        if
        cookie
        is
        not
        empty
        %}
        checked="checked"
        {%
        endif
        %}
      />
      <label class="form-check-label" for="savedId"> Remember me </label>
    </div>
    <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-body-secondary">© 2021–2025</p>
  </form>
</div>
{% endblock %} {% block footer %}{% endblock %} {% block after_script %}
<script>
  window.onload = () => {
    const f = document.getElementById("loginform");

    f.addEventListener("submit", function (event) {
      event.preventDefault();

      const fData = new FormData(f);
      console.log(fData.entries());
      for (const [key, value] of fData.entries()) {
        console.log(`${key}: ${value}`);
      }

      const params = new URLSearchParams(fData);
      console.log(params);
      // return;

      fetch("/mng/proc.php", {
        method: "POST",
        body: fData,
      })
        .then((response) => {
          if (!response.ok) {
            throw new Error("네트워크 응답이 정상이 아닙니다.");
          }
          return response.json();
        })
        .then((result) => {
          console.log(result);
          if (result.code == "success") {
            console.log("login: success");
            document.location.reload();
          } else {
            const alert = document.getElementById("errmsg");
            alert.innerHTML = result.msg;
          }
        })
        .catch((error) => {
          console.log("failure: ", error);
        });
    });
  };
</script>
{% endblock %}
